[submodule "thirdparty/hokuyo_node"]
	path = thirdparty/hokuyo_node
	url = https://github.com/ros-drivers/hokuyo_node.git
[submodule "thirdparty/kobuki"]
	path = thirdparty/kobuki
	url = https://github.com/yujinrobot/kobuki.git
[submodule "thirdparty/rocon_app_platform"]
	path = thirdparty/rocon_app_platform
	url = https://github.com/robotics-in-concert/rocon_app_platform.git
[submodule "thirdparty/ros_astra_camera"]
	path = thirdparty/ros_astra_camera
	url = https://github.com/orbbec/ros_astra_camera
