[submodule "thirdparty/hokuyo_node"]
	path = thirdparty/hokuyo_node
	url = https://github.com/ros-drivers/hokuyo_node.git
[submodule "thirdparty/kobuki"]
	path = thirdparty/kobuki
	url = https://github.com/yujinrobot/kobuki.git
