<launch>
    <param name="use_sim_time" value="false"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" args="scan:=scan_filtered" output="screen">
        <!--
        descriptions and defaults:
            http://www.ros.org/wiki/gmapping#Parameters
        -->

        <param name="xmin" value="-1.0"/>
        <param name="ymin" value="-1.0"/>
        <param name="xmax" value="15.0"/>
        <param name="ymax" value="15.0"/>
        <param name="maxUrange" value="59.0"/><!--60! ?-->
        <param name="maxRange" value="63.0"/>

        <param name="map_update_interval" value="5.0"/> <!-- def -->
        <param name="linearUpdate" value="0.2"/>
        <param name="angularUpdate" value="0.15"/>
        <param name="particles" value="50"/>

        <param name="delta" value="0.02"/>

    </node>
</launch>
